    html,
    body {
    	width: 100%;
    	height: 100%;
    	margin: 0px;
    	background: #f5f5f5;
    	font-family: 'Rubik', sans-serif;
    	font-size: 13px;
    }
	
	ul{
		height: 110px;
		width: 70%;
		display: flex;
		flex-direction: row;
		margin: auto;
		justify-content: end;
	}



	li {
		margin: auto 0;
		list-style:none;
		box-sizing: border-box;
		border-radius: 25px;
		letter-spacing: 2px;
	}

	main h1{
		font-family: 'Nixie One', cursive;
		font-weight: 250;
		font-size: 40px;
		display: flex;
		flex-direction: row;
		margin: auto;
		justify-content: space-around;
		padding: 2rem 0;
	}
	nav a {
		text-decoration: none;
		color: #ccc;
		font-family: 'Nixie One', cursive;
		font-weight: 700;
		padding: 5px 30px;
	}
/*nav li:last-child{
  background:#ff3885;
  padding: 0.5rem 0;
  border-radius: 0;
}
nav li:last-child a{
    color: #fff;
}*/
/*li:first-child a {
  border: 2px solid #F02372;
  border-radius: 25px;
  color: #F02372;
}*/

	nav a:hover {
		color: #ff3885;
	}

	li:first-child a {
		color: #ff3885;
	}

	li:not(:last-child)::after{
		content: "";
		color: #242424;
		/*color: #F02372;*/
		font-weight: 700;
		font-size: 1.5em;
	}
	ul{
		height: 110px;
		width: 70%;
		display: flex;
		flex-direction: row;
		margin: auto;
		justify-content: end;
	}

	li {
		margin: auto 0;
		list-style:none;
		box-sizing: border-box;
		border-radius: 25px;
		letter-spacing: 2px;
	}
    
    .side_nav {
    	display: inline-block;
    	width: 20%;
    	position: fixed;
    	left: -30%;
    	top: 0px;
    	bottom: 0px;
    	background-color: #1e1e1e;
    	z-index: 11;
    	color: #d0d0d0;
    	box-shadow: 5px 0px 14px rgba(24, 24, 26, 0.56);
    	transition: left 2s;
    }
    
    .side_nav.open {
    	left: 0px!important;
    	transition: left 2s;
    }
    
    .overlay {
    	width: 100%;
    	background-color: rgba(30, 30, 30, 0.48);
    	position: fixed;
    	height: 100%;
    	z-index: 1;
    	bottom: 0px;
    	left: 0px;
    	rigth: 0px;
    }
    
    .open-overlay {
    	overflow: hidden;
    }
    
    .side_nav a {
    	color: #d0d0d0;
    	text-decoration: none;
    }
    
    .side_nav ul {
    	margin-top: 45px;
    	list-style: none;
    	padding: 0px;
    	width: 100%;
    	display: flex;
    	flex-direction: column;
    }
    
    .side_nav ul:first-child {
    	margin-top: 0px;
    	flex-direction: row;
    }
    
    .side_nav ul:first-child li {
    	float: left;
    	width: 20%;
    }
    
    .side_nav ul:first-child li a {
    	border-left: 1px solid #333;
    }
    
    .side_nav form {
    	display: flex;
    }
    
    .side_nav form input {
    	height: 40px;
    	padding: 0px 5px;
    	border-width: 1px;
    	width: 100%;
    }
    
    .side_nav form button {
    	background: transparent;
    	border: 1px solid #333;
    }
    
    .side_nav ul li a {
    	font-size: 1.5em;
    	line-height: 2em;
    	text-align: center;
    	padding: 1% 0%;
    	height: 40px;
    	width: 100%;
    	border-bottom: 1px solid #333;
    	display: inline-flex;
    	justify-content: center;
    	align-items: center;
    }
    
    .side_nav ul li a:first-child {
    	border-top: 1px solid #333;
    }
    
    .side_nav ul li a:hover {
    	background-color: #333;
    }
    
    .side_nav ul li {
    	display: inline-block;
    }
    
    header {
    	background-image: url('http://img.hb.aicdn.com/f8ad74de04a1b2962309cb40971abcb7a7183a865b64-mmWafq_fw658');
    	width: 100%;
    	height: 50%;
    	background-position: bottom;
    	background-size: cover;
    	color: #fff;
    	position: relative;
    	display: inline-block;
    }
    
    .header_content {
    	width: 75%;
    	margin: 50px auto;
    	position: relative;
    	font-size: 2.5em;
    	padding: 0 15px;
    }
    
    #menu i {
    	text-shadow: 5px 3px 3px #1e1e1e;
    }
    
    .header_content a {
    	color: #fff;
    	text-decoration: none;
    }
    
    section {
    	display: flex;
    	width: 75%;
    	margin-left: auto;
    	margin-right: auto;
    	padding: 15px;
    	flex-wrap: wrap;
    	min-height: 80%;
    }
    
    section.pagination {
    	min-height: 0%;
    	display: flex;
    	justify-content: center;
    }
    
    section article {
    	display: flex;
    	background-color: #333;
    	width: 100%;
    	border: 1px solid #fff;
    	color: #fff;
    	flex-direction: column;
    	justify-content: center;
    }
    
    section article h2,
    section article p,
    section article div {
    	width: 100%;
    	text-align: center;
    }
    
    section article h2 {
    	font-family: 'Archivo Black', sans-serif;
    }
    
    section article p {
    	margin: 0px;
    	line-height: 1.5em;
    }
    
    .article_hover {
    	width: 100%;
    	text-align: center;
    	justify-content: center;
    	flex-direction: column;
    	text-decoration: none;
    	z-index: 1;
    }
    
    button {
    	width: 150px;
    	height: 42px;
    	text-transform: uppercase;
    	font-weight: bold;
    	border: 1px solid #99ce66;
    	background-color: #99ce66;
    	color: #fff;
    	margin-left: auto;
    	margin-right: auto;
    	text-decoration: none;
    	z-index: 0;
    	cursor: pointer;
    }
    
    .author {
    	text-transform: capitalize;
    	font-weight: bold;
    }
    
    .comment:before{
    	content: '\2022';
    	margin-left: 5px;
    	margin-right: 5px;
    }
    
    section article:hover a,
    section article a.active {
    	display: flex;
    }
    
    section article:hover p,
    section article:hover h2 {
    	display: none;
    }
    
    section article a {
    	display: none;
    }
    
    section article:first-child {
    	width: 64.15%;
    	background-image: url('http://img.hb.aicdn.com/9385a6a2147546c817a80ec0d17eb8f90c8d9b951aa93a-EikinP_fw658');
    	width: 225px;
		height: 225px;
    	background-size: cover;
    }
    
    section article:nth-child(2) {
    	background-image: url('http://img.hb.aicdn.com/c40698c79747ae9be24adba685704581e219793e12f2d0-SfqbVH_fw658');
    	width: 225px;
		height: 225px;
    	background-size: cover;
    }
    
    section article:nth-child(3) {
    	background-image: url('http://img.hb.aicdn.com/2696a6c955eac81d668a6286ab8e150c7041fc7852d5f-PLpoop_fw658');
    	width: 225px;
		height: 225px;
    	background-size: cover;
    }
    
    section article:nth-child(4) {
    	background-image: url('http://img.hb.aicdn.com/c9151d2acc437c1a69d355618e16f91ffbc939f418d380-IxlFfu_fw658');
		width: 225px;
		height: 225px;
    	background-size: cover;
    }
	
	.content {
		float: left;
		display: block;
		clear: both;
		width: 100%;
		padding: 45px 0px;
		background-color: #fff;
	}
	.content .leftcontent {
		float: left;
		width: 50%;
		display: inline-block;
	}
	.content .leftcontent .innerblock {
		float: right;
	}
	.content .leftcontent .bloghighlight {
			max-width: 550px;
		margin: 0px auto;
	}
	.content .leftcontent .bloghighlight article {
		margin-top: 25px;
	}
	.content .leftcontent .bloghighlight h4 {
		text-align: left;
		font-size: 19px;
		margin: 0;
	}
	.content .leftcontent .bloghighlight .article-title h3 {
		color: #2c343b;
		font-size: 14px;
		line-height: 28px;
		margin: 0px;
	}
	.content .leftcontent .bloghighlight .article-details h3.date {
		font-size: 12px;
		color: #4F4F4F;
		font-height: 14px;
		margin: 0px;
	}
	.content .leftcontent .bloghighlight .article-summary {
		font-size: 14px;
		line-height: 1.5em;
	}
	.content .leftcontent .bloghighlight .article-summary a.readmore {
		text-decoration: none;
		font-family: 'Open Sans Condensed', sans-serif;
		color: #E65B53;
		font-weight: 700;
		float: right;
		display: block;
		padding: 3px 10px;
		margin-bottom: 25px;
	}
	.content .leftcontent .bloghighlight .article-summary a.readmore:hover {
		color: #fff;
		background-color: #E65B53;
	}
	.content .rightcontent {
		float: left;
		width: 50%;
		display: inline-block;
	}
	.content .rightcontent .innerblock {
		float: left;
	}
	
    
    footer {
    	width: 100%;
    	height: 25%;
    	background-color: #1e1e1e;
    	font-family: 'Work Sans', sans-serif;
    	color: #d0d0d0;
    	display: flex;
    	justify-content: center;
    	flex-direction: column;
    	align-items: center;
    }
    
    footer a {
    	color: #d0d0d0;
    	margin: 2px;
    	font-size: 15px;
    }
    
    @media screen and (max-width: 780px) {
    	#menu {
    		/*color: #1e1e1e;*/
    	}
    	.side_nav {
    		left: -110%;
    		width: 95%;
    	}
    	section {
    		flex-direction: column;
    	}
    	section article {
    		width: 100%;
    		min-height: 250px;
    	}
    	section article:first-child {
    		width: 100%;
    	}
    	header {
    		height: 25%;
    	}
    }